/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@font-face {
  font-family: "Circular";
  src: url("../fonts/circular-book.woff") format("woff");
  font-weight: 300; }
@font-face {
  font-family: "Circular";
  src: url("../fonts/circular-medium.woff") format("woff");
  font-weight: 500; }
body {
  font-family: 'Circular', sans-serif;
  font-weight: 300; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ------------- BODY ------------- */
body {
  font-family: "Circular", sans-serif;
  font-size: 16px;
  font-weight: 300; }

/* ------------- HEADER ------------- */
.logo {
  cursor: pointer; }

.logo img {
  height: 55px;
  padding-top: 10px;
  padding-left: 5px; }

.phone-container {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container {
  max-width: 1200px;
  padding: 0px 16px;
  margin: auto; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  height: 92px; }

.header-container {
  border-bottom: 1px solid #DBDDE0; }

.button {
  border: 1px solid #ECEDEE;
  border-radius: 100px;
  padding: 15px 20px;
  cursor: pointer;
  max-height: 49px; }

.button:hover {
  background-color: #FCFBFC; }

.button-text {
  color: #F46650;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-decoration: none; }

/*  ------------- NAV -------------  */
nav {
  border-bottom: 1px solid #DBDDE0;
  display: relative; }
  nav .search-form {
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 150px;
    padding-top: 4px;
    display: absolute;
    top: 0px; }
  nav .search-input {
    border-radius: 100px 0px 0px 100px;
    flex-grow: 1;
    height: 30px;
    border: 1px solid #DBDDE0;
    padding: 0px 12px;
    font-size: 15px;
    font-weight: 500; }
  nav .search-button {
    border-radius: 0px 100px 100px 0px;
    border: none;
    height: 30px;
    background-color: #F46650;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px; }
  nav .search-input:focus {
    outline: none; }
  nav .search-input::placeholder {
    color: #8E9FA9; }
  nav .search-button:focus {
    outline: none; }
  nav .search-button:hover {
    background-color: #FD7762; }

/*  ------------- MAIN -------------  */
main h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 0 10px;
  color: #224458; }
main p {
  line-height: 130%;
  margin: 0.25rem 2% 0 2%; }
main .card {
  width: 50%;
  padding: 10px;
  margin-top: 14px;
  float: left; }
main .card-container {
  border: 1px solid #DBDDE0;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
  margin-bottom: 50px;
  cursor: pointer; }
main .card-container:hover .text-overlay {
  background-color: rgba(0, 0, 0, 0.8); }
main .card-1 {
  background-image: url("../images/card-bg-1.png"); }
main .card-2 {
  background-image: url("../images/card-bg-2.png"); }
main .card-3 {
  background-image: url("../images/card-bg-3.png"); }
main .card-4 {
  background-image: url("../images/card-bg-4.png"); }
main h2 {
  font-size: 20px;
  font-weight: 300; }
main h3 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px; }
main .text-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 0px;
  transition: .2s ease; }

/*  ------------- SLICK SLIDER -------------  */
div.myslider div {
  width: 100%;
  margin-top: 10px;
  z-index: 2; }

div.myslider img {
  width: 100%;
  border-radius: 10px; }

/*  ------------- FOOTER -------------  */
footer {
  clear: both;
  width: 100%;
  background-color: #F6F3F6;
  border-top: 1px solid #DBDDE0;
  color: #224458; }
  footer h2 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 8px; }
  footer p {
    text-align: left;
    color: #224458;
    line-height: 18px; }
  footer a {
    color: #224458;
    line-height: 18px; }
  footer a:hover {
    color: #487996; }
  footer .main-footer {
    display: flex;
    padding: 30px 16px;
    justify-content: space-between; }
  footer .footer-column {
    width: 28%; }
  footer input {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    height: 25px;
    border: 1px solid #DBDDE0;
    padding: 18px 6px;
    font-size: 15px; }
  footer input:focus {
    outline: none; }
  footer .button {
    background-color: #EBE8EB;
    border: 1px solid #DBDDE0;
    text-transform: uppercase;
    letter-spacing: 1px; }
  footer .footer-bottom {
    background-color: #D6D2D6;
    text-align: center;
    padding: 20px; }
    footer .footer-bottom .copyright {
      text-align: center;
      margin: 15px 0px 0px 0px; }
    footer .footer-bottom .social-icon {
      margin: 12px; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 35em) {
  /* ------------- HEADER ------------- */
  header {
    height: 130px; }
    header h1 {
      padding-top: 50px; }

  nav {
    display: block;
    position: relative; }
    nav #primaryNav {
      display: inline-block;
      margin: 0px; }
    nav .container {
      padding: 0px 16px; }
    nav ul li {
      width: auto; }
    nav ul li a {
      padding: .5rem 1rem; }
    nav button {
      display: none; }
    nav ul.closed {
      display: block; }
    nav ul li:hover ul {
      /* this displays the menus as drop downs  */
      left: auto;
      margin-left: 0; }

  /* ------------- MAIN ------------- */
  main .card {
    width: 33%; }
  main .container {
    padding: 0px 16px; }

  /*  ------------- Lazy Load Gallery -------------  */ }
@media only screen and (min-width: 64em) {
  /* ------------- HEADER ------------- */
  /*  ----------------------- NAVIGATION --------------------------- */
  nav {
    background-color: #FCFBFC;
    height: 40px; }
    nav ul {
      padding: 0;
      width: 100%; }
    nav ul > li {
      float: left;
      list-style: none; }
    nav ul li a {
      display: block;
      background: none;
      font-size: 14px;
      padding: .9em .9em;
      color: #224458;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      /*transition to transition over time on hover*/
      -webkit-transition: background 0.3s linear;
      transition: background 0.3s linear; }
    nav ul li a:hover {
      background: #dbcfdb; }
    nav #primaryNav li.parent > a::before {
      font-size: .75rem;
      content: "\25BC";
      color: rgba(255, 255, 255, 0.5); }
    nav ul li ul {
      z-index: 998;
      position: absolute;
      background-color: #f5f2f5;
      left: -999em;
      /* pushes the menu way off to the side */
      width: 12em; }
    nav ul li ul li {
      /* overides the float and line from the parent ul */
      width: 100%;
      border: none;
      border-top: solid 1px rgba(0, 0, 0, 0.2);
      /* vertical line seperating sub menu items*/ }
    nav ul li:hover ul {
      left: auto;
      margin-left: 0; }
    nav li.current-menu-item a {
      background-color: rgba(0, 0, 0, 0.25); }

  /* ------------- MAIN ------------- */
  main .card {
    width: 25%; }
  main .card-section {
    padding: 0 0; }
  main .container {
    padding: 0px; } }
/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#hamburgerBtn {
  display: none; }

/* hide the navigation button for all screen widths. We will show it below just for small screens */
@media only screen and (max-width: 64em) {
  /* Pushes the body tag down to make room for the navigation bar at the top of the page */
  body {
    padding-top: 2.75rem;
    z-index: 1; }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.75rem;
    background-color: #FCFBFC; }

  #hamburgerBtn {
    display: block;
    width: 7rem;
    height: 2.75rem;
    background: none;
    color: #224458;
    border: 0 none;
    font-size: 1.3rem;
    font-weight: normal;
    text-align: left; }
    #hamburgerBtn i {
      font-size: 2rem;
      font-style: normal; }

  #hamburgerBtn.open span:nth-child(1) {
    display: none; }

  #hamburgerBtn.open span:nth-child(2) {
    display: block; }

  #hamburgerBtn span:nth-child(1) {
    display: block; }

  #hamburgerBtn span:nth-child(2) {
    display: none; }

  #primaryNav {
    height: 0;
    overflow: hidden;
    width: 20rem;
    background-color: #FCFBFC;
    margin: 0;
    padding: 0;
    z-index: 999;
    font-family: Verdana;
    font-weight: normal; }

  #primaryNav li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.25); }

  #primaryNav li a {
    display: block;
    z-index: 999;
    width: 100%;
    padding: .75rem 2vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #224458;
    text-decoration: none; }

  #primaryNav li a:hover {
    background-color: rgba(0, 0, 0, 0.5); }

  #primaryNav.open {
    height: auto; }

  #primaryNav li.parent > a::after {
    font-size: .75rem;
    content: "\25BC";
    color: rgba(255, 255, 255, 0.5);
    float: right; }

  #primaryNav li ul {
    display: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0; }

  #primaryNav li ul a {
    padding-left: 20px; }

  #primaryNav li:hover ul {
    display: block; } }
/* End Mobile Styles */

/*# sourceMappingURL=styles.css.map */
